<layout name="main" />
<div class="form-div">
    <form action="__SELF__" name="searchForm" method="get">
        <img src="/Application/Admin/Public/Images/icon_search.gif" width="26" height="22" border="0" alt="search" />
       关键字 <input type="text" name="keyword" size="15" value="<?php echo I('get.keyword')?>" /><br>
        <span id="price">价钱</span> <input type="text" name="small" value="<?php echo I('get.small')?>" />
        到 <input type="text" name="big" value="<?php echo I('get.big')?>" /><br>
         <!-- 上架 -->
       <span id="sale">是否上架</span>
         <input type="radio" name="is_sale" value="1" <?php echo I('get.is_sale')==1?'checked':'';?> />是
        <input type="radio" name="is_sale" value="0"  <?PHP echo I('get.is_sale')==0?'checked':'';?> />否
        <input type="radio" name="is_sale" value=""   <?php echo I('get.is_sale')==''?'checked':'';?>/>全部
        <br>

        <!-- 关键字 -->
        <input type="submit" value=" 搜索 " class="button" />
    </form>
    <input type="button" name="order" value="asc">
    <input type="button" name="order" value="desc">
</div>

<!-- 商品列表 -->
<form method="post" action="" name="listForm" onsubmit="">
    <div class="list-div" id="listDiv">
      <table cellpadding="3" cellspacing="1">
            <tr>
                <th>编号</th>
                <th>商品名称</th>
                <th>价格</th>
                <th>上架</th>
                <th>市场价</th>
                <th>商品图片</th>
                <th>商品介绍</th>
                <th>操作</th>
            </tr>
           <volist name="list" id="vo">
            <tr>
                <td align="center">{$vo.goods_id}</td>
                <td align="center" class="first-cell"><span>{$vo.goods_name}</span></td>
                <td align="center"><span>{$vo.goods_price}</span></td>
                <td align="center"><img src="<if condition="$vo.is_sale eq 1"> /Application/Admin/Public/Images/yes.gif<else/>/Application/Admin/Public/Images/no.gif </if>"/></td>
                <td align="center">{$vo.market_price}</td>
                <td><img src="/{$vo.sm_img}" alt="商品图片" ></td>
                <td align="center">{$vo.goods_desc}</td>
                <td align="center">
                <a href="__URL__/GoodsDel?goods_id={$vo.goods_id}" target="_blank" title="查看"><img src="/Application/Admin/Public/Images/icon_view.gif" width="16" height="16" border="0" /></a>
                <a href="__URL__/GoodsEdit?goods_id={$vo.goods_id}" title="编辑"><img src="/Application/Admin/Public/Images/icon_edit.gif" width="16" height="16" border="0" /></a>
                <a href="__URL__/GoodsDel?goods_id={$vo.goods_id}>" onclick="" title="回收站"><img src="/Application/Admin/Public/Images/icon_trash.gif" width="16" height="16" border="0" /></a></td>
            </tr>
        </volist>
        </table>

    <!-- 分页开始 -->
        <table width="100%" cellspacing="0" id="page-table">
            <tr>
                <td align="center">
                    {$show}                </td>
                <td align="center" nowrap="true">&nbsp;</td>
            </tr>
      </table>
    <!-- 分页结束 -->
        <script src="/Public/js/jquery-1.8.3.min.js"></script>
        <script>
            $('#price').css('margin-left','40px');
            $(':submit').css('margin-left','60px');
            $('#sale').css('margin-left','10px');
            $(':radio :gt(0)').css('margin-left','30px');
            $(':button').css('margin-left','60px');
            $(':button :eq(1)').click(function (){
                $(this).submit();

            });
        </script>
  </div>
</form>

